@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
	block-size: 100%;
	-webkit-tap-highlight-color: transparent;
	text-size-adjust: none;
}

body {
	block-size: 100%;
}